<div class="cinemapress-footer no-mobile js-footer">
    <div class="recently-footer-main">
        <div class="recentlyViewedBlock" style="display: none; padding: 20px 0;">
            <div><%- page.l.watched %>:</div>
            <div id="recentlyViewed"></div>
        </div>
    </div>
    <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
        <div class="recently-footer-main">
            <%- page.adv.bottom %>
        </div>
    <% } %>
    <div class="cinemapress-footer-main">
        <div class="coll js-footer-watch">
            <span class="title"><%- page.l.allCategories %></span>
            <ul>
                <li><a href="/<%- page.urls.year %>"><%- page.l.allYears %></a></li>
                <li><a href="/<%- page.urls.genre %>"><%- page.l.allGenres %></a></li>
                <li><a href="/<%- page.urls.country %>"><%- page.l.allCountries %></a></li>
                <li><a href="/<%- page.urls.actor %>"><%- page.l.allActors %></a></li>
                <li><a href="/<%- page.urls.director %>"><%- page.l.allDirectors %></a></li>
            </ul>
        </div>
        <div class="col js-footer-about">
            <span class="title"><%- page.l.years %></span>
            <ul>
                <% page.urls.years.slice(0, 5).forEach(function(year) { %>
                    <li>
                        <a href="<%- year.url %>" title="<%= year.title %>"><%- page.l.online %> <%- year.title %></a>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div class="col js-footer-devices">
            <span class="title"><%- page.l.genres %></span>
            <ul>
                <% page.urls.genres.slice(0, 5).forEach(function(genre) { %>
                    <li>
                        <a href="<%- genre.url %>" title="<%= genre.title %>"><%- genre.title %></a>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div class="col js-footer-support">
            <span class="title"><%- page.l.countries %></span>
            <ul>
                <% page.urls.countries.slice(0, 5).forEach(function(country) { %>
                    <li>
                        <a href="<%- country.url %>"
                           title="<%= country.title %>"><%- page.l.country %> <%- country.title %></a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
    <div class="cinemapress-footer-bottom page-footer">
        <div class="cinemapress-footer-bottom-inner">
            <div class="social js-footer-social">
                <% if (page.social) { %>
                    <div class="footer-follow social">
                        <% if (page.social.vk) { %>
                            <span class="vk">
                        <a href="<%- page.social.vk %>" target="_blank"><%- page.l.vk %></a>
                    </span>
                        <% } %>
                        <% if (page.social.facebook) { %>
                            <span class="facebook">
                        <a href="<%- page.social.facebook %>" target="_blank"><%- page.l.facebook %></a>
                    </span>
                        <% } %>
                        <% if (page.social.telegram) { %>
                            <span class="telegram">
                            <a href="<%- page.social.telegram %>" target="_blank"><%- page.l.telegram %></a>
                        </span>
                        <% } %>
                        <% if (page.social.twitter) { %>
                            <span class="twitter">
                        <a href="<%- page.social.twitter %>" target="_blank"><%- page.l.twitter %></a>
                    </span>
                        <% } %>
                        <% if (page.social.youtube) { %>
                            <span class="youtube">
                        <a href="<%- page.social.youtube %>" target="_blank"><%- page.l.youtube %></a>
                    </span>
                        <% } %>
                        <% if (page.social.instagram) { %>
                            <span class="instagram">
                        <a href="<%- page.social.instagram %>" target="_blank"><%- page.l.instagram %></a>
                    </span>
                        <% } %>
                    </div>
                <% } %>
                <span>&nbsp;&nbsp;&nbsp;</span><span id="mylo">Activate JS</span>
                <script>(function(d, i, l, r) {
                    d.getElementById(i).innerHTML = l + '@' + r;
                  })(window.document, 'mylo', '<%- page.email.split('@')[0] %>', '<%- page.email.split('@')[1] %>');</script>
            </div>
            <div class="copyright">
                <span> &copy;&nbsp;<%- new Date().getFullYear() %>&nbsp;<a href="https://cinemapress.io"
                                                                           target="_blank">CinemaPress</a></span>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.3/min/tiny-slider.js"></script>
<script>document.addEventListener('DOMContentLoaded', function() {
    if (document.querySelector('.carousel-main')) {
      tns({
        container: '.carousel-main',
        mode: 'gallery',
        nav: !1,
        autoplay: !0,
        autoplayButtonOutput: !1,
        loop: !0,
        controlsContainer: '.control-main',
        mouseDrag: !0
      });
    }
  });
  document.addEventListener('DOMContentLoaded', function() {
    if (document.querySelector('.carousel-category')) {
      tns({
        container: '.carousel-category',
        mode: 'gallery',
        nav: !1,
        autoplay: !0,
        autoplayButtonOutput: !1,
        loop: !0,
        controlsContainer: '.control-category',
        mouseDrag: !0
      });
    }
  });</script>

<script>
  (function() {
    var dataAllSrc = document.querySelectorAll('[data-cinemapress-src],[data-cinemapress-bg-src]');
    var dataAllSrcCount = (dataAllSrc && dataAllSrc.length) || 0;
    var dataAllSrcCountComp = 0;
    var fSrc = {
      'dataCountImage': function() {
        dataAllSrcCountComp = dataAllSrcCountComp+1;
        if (dataAllSrcCount && dataAllSrcCountComp >= dataAllSrcCount) {
          dataAllSrcCount = 0;
          setTimeout(function() {
            fSrc['checkLoad'](dataAllSrc, 'dataSetImage');
          }, 1);
        }
      },
      'dataSetImage': function(el) {
        var src = el.dataset.cinemapressSrc;
        var bgSrc = el.dataset.cinemapressBgSrc;
        if (!src && !bgSrc) return;
        var img = new Image();
        img.src = src ? src : bgSrc;
        img.onload = function() {
          if (src) { el.src = src; }
          else { el.style.backgroundImage = 'url("' + bgSrc + '")';}
        }
      },
      'checkLoad': function(els, fn) {
        if (!els) return;
        els.forEach(function(src) {
          if (typeof src.complete === 'undefined' || src.complete) {
            fSrc[fn](src);
          } else {
            src.addEventListener('load', function() {
              fSrc[fn](this);
            }, { once: true });
          }
        });
      }
    }
    fSrc['checkLoad'](dataAllSrc, 'dataCountImage');
  })();
</script>

<%- page.codes.footer %>