<div class="cinemapress-footer no-mobile js-footer">
    <div class="recently-footer-main">
        <div class="recentlyViewedBlock" style="display: none; padding: 20px 0;">
            <div>Вы надавно смотрели:</div>
            <div id="recentlyViewed"></div>
        </div>
    </div>
    <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
    <div class="recently-footer-main">
        <%- page.adv.bottom %>
    </div>
    <% } %>
    <div class="cinemapress-footer-main">
        <div class="coll js-footer-watch">
            <span class="title">Разделы</span>
            <ul>
                <li><a href="/<%- page.urls.year %>">Все годы</a></li>
                <li><a href="/<%- page.urls.genre %>">Все жанры</a></li>
                <li><a href="/<%- page.urls.country %>">Все страны</a></li>
                <li><a href="/<%- page.urls.actor %>">Все актеры</a></li>
                <li><a href="/<%- page.urls.director %>">Все режиссеры</a></li>
            </ul>
        </div>
        <div class="col js-footer-about">
            <span class="title">Годы</span>
            <ul>
                <% page.urls.years.slice(0,5).forEach(function(year) { %>
                <li>
                    <a href="<%- year.url %>" title="<%- year.title %>">Онлайн <%- year.title %> года</a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="col js-footer-devices">
            <span class="title">Жанры</span>
            <ul>
                <% page.urls.genres.slice(0,5).forEach(function(genre) { %>
                <li>
                    <a href="<%- genre.url %>" title="<%- genre.title %>"><%- genre.title %></a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="col js-footer-support">
            <span class="title">Страны</span>
            <ul>
                <% page.urls.countries.slice(0,5).forEach(function(country) { %>
                <li>
                    <a href="<%- country.url %>" title="<%- country.title %>">Из страны <%- country.title %></a>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
    <div class="cinemapress-footer-bottom page-footer">
        <div class="cinemapress-footer-bottom-inner">
            <div class="social js-footer-social">
                <% if (page.social) { %>
                <div class="footer-follow social">
                    <% if (page.social.vk) { %>
                    <span class="vk">
                        <a href="<%- page.social.vk %>" target="_blank">VK</a>
                    </span>
                    <% } %>
                    <% if (page.social.facebook) { %>
                    <span class="facebook">
                        <a href="<%- page.social.facebook %>" target="_blank">Facebook</a>
                    </span>
                    <% } %>
                    <% if (page.social.twitter) { %>
                    <span class="twitter">
                        <a href="<%- page.social.twitter %>" target="_blank">Twitter</a>
                    </span>
                    <% } %>
                    <% if (page.social.gplus) { %>
                    <span class="gplus">
                        <a href="<%- page.social.gplus %>" target="_blank">G+</a>
                    </span>
                    <% } %>
                    <% if (page.social.youtube) { %>
                    <span class="youtube">
                        <a href="<%- page.social.youtube %>" target="_blank">YouTube</a>
                    </span>
                    <% } %>
                    <% if (page.social.instagram) { %>
                    <span class="instagram">
                        <a href="<%- page.social.instagram %>" target="_blank">Instagram</a>
                    </span>
                    <% } %>
                </div>
                <% } %>
                <span>&nbsp;&nbsp;&nbsp;</span><span id="mylo">Activate JS</span><script>(function(d,i,l,r){d.getElementById(i).innerHTML=l+'@'+r;})(window.document,'mylo','<%- page.email.split('@')[0] %>','<%- page.email.split('@')[1] %>');</script>
            </div>
            <div class="copyright">
                <span> &copy;&nbsp;<%- new Date().getFullYear() %>&nbsp;<a href="https://cinemapress.org" target="_blank">CinemaPress&nbsp;ACMS</a></span>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.3/min/tiny-slider.js"></script>
<script>document.addEventListener("DOMContentLoaded",function(){if(document.querySelector('.carousel-main')){tns({container:".carousel-main",mode:"gallery",nav:!1,autoplay:!0,autoplayButtonOutput:!1,loop:!0,controlsContainer:".control-main",mouseDrag:!0})}});document.addEventListener("DOMContentLoaded", function () {if(document.querySelector('.carousel-category')){tns({container: ".carousel-category", mode: "gallery", nav: !1, autoplay: !0, autoplayButtonOutput: !1, loop: !0, controlsContainer: ".control-category", mouseDrag: !0})}});</script>
<%- page.codes.footer %>