<header class="cinemapress-top js-menu-block">
    <div class="cinemapress-top__inner">

        <div class="cinemapress-top__logo">
            <a class="cinemapress-top__logo-link" href="/">
                <span class="cinemapress-top__logo-text"></span>
                <img class="cinemapress-top__logo-image" src="/themes/daenerys/public/images/logo.png?v=<%- page.ver %>" alt="Logo">
            </a>
        </div>

        <span class="cinemapress-top__menu-toggle js-menu-toggle"
                onclick="if (document.querySelector('.js-top-menu').classList.contains('top-menu_expanded')) {document.querySelector('.js-top-menu').classList.remove('top-menu_expanded');}else{document.querySelector('.js-top-menu').classList.add('top-menu_expanded');} if (this.classList.contains('cinemapress-top__menu-toggle_active')) {this.classList.remove('cinemapress-top__menu-toggle_active')} else {this.classList.add('cinemapress-top__menu-toggle_active')}">
            <span class="cinemapress-top__menu-toggle-item"></span>
            <span class="cinemapress-top__menu-toggle-item"></span>
            <span class="cinemapress-top__menu-toggle-item"></span>
        </span>

        <nav class="top-menu cinemapress-top__menu js-top-menu">

            <ul class="top-menu__list">
                <li class="top-menu__list-item top-menu__list-item_expanding top-menu__list-item_expanded">
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=premiere-up" title="<%- page.l.premieres %>" class="top-menu__list-link"><%- page.l.premieres %></a>
                    <div class="top-menu__dropdown">
                        <ul class="top-menu__sublist">
                            <li class="top-menu__sublist-item">
                                <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=premiere-up" class="top-menu__sublist-link" title="<%- page.l.premieres %> (<%- page.l.movies %>)"><%- page.l.premieres %> (<%- page.l.movies %>)</a>
                            </li>
                            <li class="top-menu__sublist-item">
                                <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>?sorting=premiere-up" class="top-menu__sublist-link" title="<%- page.l.premieres %> (<%- page.l.series %>)"><%- page.l.premieres %> (<%- page.l.series %>)</a>
                            </li>
                            <li class="top-menu__sublist-item">
                                <a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>?sorting=premiere-up" class="top-menu__sublist-link" title="<%- page.l.premieres %> (<%- page.l.cartoons %>)"><%- page.l.premieres %> (<%- page.l.cartoons %>)</a>
                            </li>
                            <li class="top-menu__sublist-item">
                                <a href="/<%- page.urls.type %>/<%- page.urls.types.tv %>?sorting=premiere-up" class="top-menu__sublist-link" title="<%- page.l.premieres %> (<%- page.l.tv %>)"><%- page.l.premieres %> (<%- page.l.tv %>)</a>
                            </li>
                            <li class="top-menu__sublist-item">
                                <a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>?sorting=premiere-up" class="top-menu__sublist-link" title="<%- page.l.premieres %> (<%- page.l.anime %>)"><%- page.l.premieres %> (<%- page.l.anime %>)</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="top-menu__list-item top-menu__list-item_expanding top-menu__list-item_expanded">
                    <a title="<%- page.l.online %>" class="top-menu__list-link js-menu-movies-link" href="/<%- page.urls.type %>/<%- page.urls.types.movie %>"><%- page.l.movies %></a>
                    <div class="top-menu__dropdown top-menu__dropdown_two-cols" id="movies_submenu">
                        <div class="top-menu__dropdown-col">
                            <ul class="top-menu__sublist">
                                <% page.urls.genres.slice(0,17).forEach(function(genre) { %>
                                <li class="top-menu__sublist-item">
                                    <a href="<%- genre.url %>" title="<%- genre.title %>" class="top-menu__sublist-link"><%- genre.title %></a>
                                </li>
                                <% }); %>
                            </ul>
                        </div>
                        <div class="top-menu__dropdown-col">
                            <ul class="top-menu__sublist">
                                <% page.urls.years.forEach(function(year) { %>
                                <li class="top-menu__sublist-item">
                                    <a class="top-menu__sublist-link" title="<%- page.l.online %> <%- year.title %>" href="<%- year.url %>"><%- page.l.movies %> <%- year.title %></a>
                                </li>
                                <% }); %>
                            </ul>
                            <ul class="top-menu__sublist">
                                <% page.urls.countries.slice(0,6).forEach(function(country) { %>
                                <li class="top-menu__sublist-item">
                                    <a class="top-menu__sublist-link" title="<%- country.title %>" href="<%- country.url %>"><%- country.title %></a>
                                </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="top-menu__list-item">
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>" class="top-menu__list-link js-tvchannels-link" title="<%- page.l.series %>"><%- page.l.series %></a>
                </li>
                <li class="top-menu__list-item">
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>" class="top-menu__list-link js-tvchannels-link" title="<%- page.l.cartoons %>"><%- page.l.cartoons %></a>
                </li>
                <li class="top-menu__list-item">
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.tv %>" class="top-menu__list-link js-tvchannels-link" title="<%- page.l.tv %>"><%- page.l.tv %></a>
                </li>
                <li class="top-menu__list-item">
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>" class="top-menu__list-link js-tvchannels-link" title="<%- page.l.anime %>"><%- page.l.anime %></a>
                </li>
            </ul>
        </nav>
        <div class="js-top-search top-search cinemapress-top__search top-search_has-button">
            <span class="randomMovieMenu"><a href="/?random" class="top-search__subscription-button cinemapress-button medium js-disable-ads"><%- page.l.lucky %></a></span>
            <span class="top-search__subscription-button cinemapress-button medium js-disable-ads continueViewingBlock" style="display: none;" id="continueViewing"><%- page.l.continue %></span>

            <form method="get" action="/<%- page.urls.search %>" class="top-search__form cinemapress-textfield style_light size_medium button_search js-cinemapress-textfield">
                <input class="top-search__input cinemapress-textfield__input js-cinemapress-textfield__input" name="q" type="search" placeholder="<%- page.l.search %>" maxlength="150" data-autocomplete="desktop">
                <div class="top-search__button-wrapper cinemapress-textfield__button-wrapper">
                    <button class="top-search__button cinemapress-textfield__button" type="submit">&gt;<%- page.l.search %></button>
                </div>
                <div class="cinemapress-autocomplete" data-autocomplete="desktop"></div>
            </form>
        </div>
    </div>
</header>